%h3
  = link_to url_for params.merge(@filter.previous.to_hash) do
    .icon-backward
  =set_period
  = link_to url_for params.merge(@filter.next.to_hash) do
    .icon-forward

%table.table-bordered
  %thead
    %tr
      %th 
      %th Category
      %th Budgeted
      %th Available
      %th Balance
    %tr 
      %th Entries 
      %th Incomes
      %th
    
  =render "table_incomes"
  %thead
    %tr
      %th Spent
      %th Expenses
      %th
  =render "table_expenses"

%table.table-bordered 
  %thead
    %tr
      %th Saved
      %th Beat Budget
      %th Missed Budget
      %th Deficit
  %tbody.summary-header
    %tr
      %th
        =budget_saved
      %th
        =beat_budget
      %th
        =missing_budget
      %th
        =deficit_budgets

