%table.table-bordered
  %thead
    %h3
      =set_period
    %tr
      %th Spent
      %th Category
      %th Budgeted
      %th Available
      %th Balance
  %tbody.summary-header.progress
    -@filter.budgets.each do |budget|
      %tr
        %td
          =total_category(budget)
        %td.budget
          =progress_bar status(budget), 100 do
            %p
              =budget.name
        %td
          =budget_budgeted(budget)
        %td
          =budget_available(budget)
        %td
          =budget_balance(budget)
