%tbody.summary-header.progress
  -@filter.budgets_income.each do |budget|
    %tr
      %td
        =total_category(budget)
      %td.budget
        =progress_bar "warning", spent_percentage(budget) do
          %p
            Spent
        =progress_bar status(budget), available_percentage(budget) do
          %p
            =budget.name
      %td
        =budget_budgeted(budget)
      %td
        =budget_available(budget)
      %td
        =budget_balance(budget)

