%ul.nav.nav-list.left.filters
  %li
    %li.icon-backward
    = link_to url_for params.merge(@filter.previous.to_hash) do
      Previous
      = @filter.previous.name
  %li
    %li.icon-forward
    = link_to url_for params.merge(@filter.next.to_hash) do
      Next
      = @filter.next.name

  %li.divider

  =render "intervals"

  %li.divider
