%table.table
  %thead
    %tr
      %th
        %th Cleared
        %th Date
        %th Account
        %th Payee
        %th Category
        %th Amount
        %th Balance
        %th uuid

  %tbody
    - transactions.each do |transaction|
      = render transaction
