%table.table-bordered
  %thead
    %tr
      %th 
      %th Date
      %th Account
      %th Payee
      %th Category
      %th Amount
      - if show_balance
        %th Balance

  %tbody
    - transactions.group_by{|t| t.date.to_s(:short_date) }.each do |date, transactions|
      %tr
        %td.split(colspan=7)
      - transactions.each do |transaction|
        = render :partial => '/transactions/transaction', locals: options.merge( transaction: transaction )
