%table.table
  %thead
    %tr
      %th 
      %th Date
      %th Account
      %th Payee
      %th Category
      %th Amount
      - if show_balance
        %th Balance
      %th uuid

  %tbody
    - transactions.each do |transaction|
      = render :partial => '/transactions/transaction', locals: options.merge( transaction: transaction )
