=link_to 'Income vs Expense',   income_v_expense_report_path
|
=link_to 'Spending by Payee',   spending_by_payee_report_path
|
=link_to 'Net Worth',           net_worth_report_path
|
=link_to 'Spending by Category', spending_by_category_report_path
