%h1 Income vs Expense Report
%table.table-bordered
  %thead
    %tr
      %th Pm Type
      %th Amount
  %tbody
    - @report.each do |key, value|
      %tr
        %th= key
        %th= value

%canvas#canvas{height: '450', width: '600'}
