= link_to 'Income  vs expense',   reports_income_v_expense_path 
|
= link_to 'Net Worth',            reports_net_worth_path
|
= link_to 'Spending by payee',    reports_spending_by_payee_path
|
= link_to 'Spending by category', reports_spending_by_category_path
