= render 'menu'
%h1 Spending by Category 
%table.table-bordered
  %thead
    %tr
      %th Id Category
      %th Amount
  %tbody
    - @report.each do |key, value|
      %tr
        %td= key
        %td= value

%canvas#canvas{height: '450', width: '600'}
= javascript_include_tag 'reports/spending_by_category'
